* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(255, 255, 255, 0.1)), url("https://img.freepik.com/premium-vector/digital-binary-code-computer-matrix-data-falling-numbers-coding-typography-codes-stream-gray-background-illustration_102902-992.jpg?w=2000");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    width: 100%;
}
h1 {
    font-size: 6vw;
    font-weight: 1000;
    color: white;
    font-family: 'Jost', sans-serif;
}
a {
    text-decoration: none;
}
button{
    font-size: 2vw;
    font-weight: 700;
    color: #ffffff;
    background-color: #ffffff00;
    padding: 0.8vw 1.8vw;
    border: solid #ffffff 0.5vw;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    margin: 0.8vw;
}
button:hover{
    transition : 1500ms;
    padding: 0.8vw 1.8vw;
    transform : translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 0.5vw #000000;
}
